<!DOCTYPE html>
<html>
<head>
 <title></title>
</head>
<body>
<h1>display</h1>
<ul>
 <li>firstname:<%=@test.firstname %></li>
  <li>lastname:<%=@test.lastname%></li>
   <li>designation:<%= @test.designation%></li>
    <li>origin:<%= @test.origin%></li>
</ul>
<%=link_to "home",root_path%>

</body>
</html>